ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(35, 66, 21);
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;  
  justify-content: right;
}

.navBar button {
  background: transparent;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  /* background: white;
  color: black; */
  cursor: pointer;
}

.brand {
  cursor: pointe;
  font-size: 2rem;
}
